/*.panel-box-header h3, .dark-gray{color:#3d464d;}*/
.qndle-strips .strips-item .avtar {margin-right: 10px;}
.qndle-strips .strips-item .avatarInfo .aInfo {display: inline-block; color: rgb(61,70,77);}
.qndle-strips .strips-item .avatarInfo .aInfo small {color:rgb(123,137,148); font-size: 11px;}
.qndle-strips .strips-item .avatarInfo .aInfo small, .qndle-strips .strips-item .avatarInfo .aInfo small span {display:block;}
.qndle-strips .strips-item small span{display:block;}
.circle-loading {display: table;list-style: none;margin: 30px auto 0;}
.circle-loading li {float: left;padding: 3px;border: 1px solid rgb(126,140,151);border-radius: 50%; margin:0 2px 0 0;}
.new-hire-more{min-width:650px;}
.new-hire-more > div > div:first-child{border-right:1px solid #d9d9d9;}
.new-hire-more > div > div:last-child{margin-left:20px;}
.new-hire-more .slider-btn {border:1px solid #d9d9d9; border-radius:2px; padding:5px;}
._md-text img{margin:0 20px 10px 0;}
.dcumnts .qndle-strips .strips-item:hover{background: #f5fafe; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; border-radius:2px; box-shadow: none;}
.dcumnts .qndle-strips .strips-item{box-shadow: none; border:1px solid #fff; border-top: 1px solid #d9d9d9; margin:0;}
.dcumnts .qndle-strips .strips-item:last-child{border-bottom:1px solid #d9d9d9;}
.review{color: #3d464d;}
.review-candidate p{margin:0 0 17px 0;}
.review-candidate div:first-child p{color:#7b8994;}

/*--Start Progress Steps--*/
.progress-steps {
    padding: 0;
    list-style-type: none;
    clear: both;
    line-height: 1em;
    margin: 0 auto 35px;
    text-align: center;
    text-transform: uppercase;
    display: table;
    line-height: 20px;
}
.progress-steps li {
    float: left;
    padding: 8px 30px 8px 40px;
    background: #fff;
    font-size: 13px;
    font-weight: 700;
    color: #7b8994;
    position: relative;
    border: 1px solid #d3d6da;
    cursor: pointer;
}
.progress-steps li:first-child {
    border-radius: 4px 0 0 4px;
    padding: 8px 30px 8px 30px;
}
.progress-steps li:last-child {
    border: 1px solid #d3d6da;
    border-radius: 0 4px 4px 0;
}
.progress-steps li:last-child:after {
    display: none;
}
.progress-steps li:first-child:before {
    content: '';
    border-left: 16px solid #fff;
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}
.progress-steps li:before {
    content: '';
    border-left: 14px solid #d3d6da;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-steps li:after {
    content: '';
    border-left: 14px solid #fff;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}
.progress-steps li.active {
    background: #007ee5;
    color: #fff;
}
.progress-steps li.active span {
    color: #007ee5;
}
.progress-steps li.active:after {
    border-left-color: #007ee5;
}
.progress-steps li.visited {
    background: #f0f0f0;
}
.progress-steps li.visited:after {
    border-left-color: #f0f0f0;
}
/*--//End Start Progress Steps--*/

.tbl-header > div, .tbl-body > div {min-height: 35px; background: #bedaf4;}
.tbl-header > div:last-child {background: #e9ebed;}
.tbl-header > div div{border-bottom:1px solid #d9d9d9; border-right:1px solid #d9d9d9;}
.tbl-header > div div:first-child{border-right:0; border-color:#84baea; border-top:1px solid #84baea;}
.tbl-header > div:last-child div:first-child{background: #bedaf4;}
.tbl-header > div:first-child div { border-bottom:0; border-color:#84baea;}
.tbl-header > div:first-child div:first-child { border-top:0;}
.tbl-header md-icon{height:14px; width: 14px;}
.tbl-body > div div{border-bottom:1px solid #d9d9d9; border-right:1px solid #d9d9d9; background-color: #fff;}
.tbl-body > div div:first-child{border-color:#84baea; border-right: 0; background: #bedaf4;}
.admin-tbl-header {background: #f5f6f7; padding: 10px 45px 10px 15px;}
.template .tmp-status {float: right; font-size: 12px; margin-top: 4px}
.template .tmp-actions{left: 10%; position: absolute; bottom:5%; width: 100%;}
.template .tmp-actions md-icon{height:16px; width: 16px;}
.multi-menu-bar-item {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.provision-frntend .multi-menu-bar-item md-menu-bar md-menu > button {
    border-right: 1px solid rgba(0,0,0,0.12);
}
.new-hire-more{min-width:650px !important;}
.multi-menu-bar-item md-menu-bar .md-menu{width:auto;}
.provision-frntend .qb-chips span md-icon{height:16px; width:16px;}
.provision-frntend .qb-chips span {margin:-2px 0 0 5px;}